@{
    ViewBag.Title = "Schedule | Calendar View";
}

<h2>Schedule - Calendar View</h2>

@{Html.RenderPartial("SubNavigation");}

<div class="calendar-default">
    <div id='loading' style='display:none'>loading...</div> 
    <div id="calendar"></div>
</div>