@model AWC.WebUI.Models.SearchResultViewModel

@{
    ViewBag.Title = "Schedule Client";
}

<h2>Schedule Client</h2>

<div id="waitlist-clients">
    <p><em>Click and drag the client name onto the calendar to schedule their appointment.</em></p>
    <div class="waitlist-client" id="user-@Model.ClientId">@Model.FirstName @Model.LastName</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $('#waitlist-clients div.waitlist-client').each(function () {

            // it doesn't need to have a start or end
            var eventObject = {
                title: $.trim($(this).text()) // use the element's text as the event title
            };

            // store the Event Object in the DOM element so we can get to it later
            $(this).data('eventObject', eventObject);

            // make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 999,
                revert: true,      // will cause the event to go back to its
                revertDuration: 0  //  original position after the drag
            });

        });

        $('#calendar').fullCalendar({
            eventSources: [
                {
                    url: 'http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic',
                    type: 'GET',
                    color: '#F0E68C',
                    textColor: '#666'
                },
                {
                    url: '/Schedule/CalendarEvents',
                    type: 'GET',
                    dataType: 'json'
                }
            ],
            header: {
                left: 'today',
                center: 'title',
                right: 'today prev,next'
            },
            droppable: true,
            drop: function (date, allDay) {
                var eventObject = $(this).data('eventObject');
                eventObject.start = date;
                eventObject.allDay = false;
                eventObject.editable = true;

                var clientId = $(this).attr('id'); // Grab the id of the div
                clientId = clientId.substring(5);  // Strip "user-" from the id

                $.ajax({
                    url: "/Schedule/Create",
                    type: "POST",
                    data: { id: clientId, scheduledDate: date.toUTCString() },
                    dataType: "json"
                });

                $('#calendar').fullCalendar('renderEvent', eventObject, true);
                $(this).remove();

            },
            disableResizing: true,
            eventDrop: function (event, dayDelta, minuteDelta, allDay, revertFunc) {

                alert(
                        event.title + " was moved " +
                        dayDelta + " days and " +
                        minuteDelta + " minutes."
                    );

                if (allDay) {
                    alert("Event is now all-day");
                } else {
                    alert("Event has a time-of-day");
                }

                if (!confirm("Are you sure about this change?")) {
                    revertFunc();
                }

            },
            defaultEventMinutes: 30,
            firstDay: 1,
            defaultView: 'agendaWeek',
            allDayDefault: false,
            ignoreTimezone: false,
            allDayText: 'Holidays', // Figuring all day events are imported from Google only
            minTime: 5,
            maxTime: 24
        });

        $('#calendar').fullCalendar('rerenderEvents');

    });
    
</script>
<div id='loading' style='display:none'>loading...</div> 
<div id="calendar"></div>