@model AWC.WebUI.Models.SearchResultViewModel

@{
    ViewBag.Title = "Schedule Client";
}

<h2>Schedule Client</h2>

<div class="calendar-schedule">
    <div id="waitlist-clients">
        <p><em>Click and drag the client name onto the calendar to schedule their appointment.</em></p>
        <div class="waitlist-client" id="user-@Model.ClientId">@Model.FirstName @Model.LastName</div>
    </div>

    <div id='loading' style='display:none'>loading...</div> 
    <div id="calendar"></div>
</div>