<nav class="menu">
    <ul>
        @Html.ActionMenuItem("List View", "Confirmed", "Schedule", false, null)
        @Html.ActionMenuItem("Calendar View", "Calendar", "Schedule", false, null)
    </ul>
</nav>