@if (TempData["success"] != null || TempData["info"] != null || TempData["error"] != null)
{
    string message = string.Empty;
    string style = string.Empty;
    string[] messageTypes = new string[3]{"success", "info", "error"};
    
    foreach (string messageType in messageTypes)
    {
        if (TempData[messageType] != null)
        {
            message = TempData[messageType].ToString();
            style = messageType;
            break;
        }
    }

    if (TempData["error"] != null)
    {
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $('#close-button').mouseover(function () {
                    $(this).attr("src", "/public/images/close-button-hover.png");
                });
                $('#close-button').mouseout(function () {
                    $(this).attr("src", "/public/images/close-button.png");
                });
                $('#close-button').click(function () {
                    $('#flashmessage').fadeOut(1000);
                });
                $('#flashmessage').fadeIn(1000);
            });
        </script>
        <div id="flashmessage" class="flashmessage @style">
            <img src="/public/images/close-button.png" alt="close" id="close-button" />
            @message
        </div>
    }
    else
    {
        <script type="text/javascript" language="javascript">
            $(document).ready(function () {
                $('#flashmessage').fadeIn(1000).delay(4000).fadeOut(1000);
            });
        </script>
        <div id="flashmessage" class="flashmessage @style">@message</div>
    }
}