@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Edit Client Record for <em>@Model.FirstName @Model.LastName</em></h2>

<p>
    @Html.ActionLink("Edit Partner Info", "PartnerInfo", new { id = Model.ClientId })
</p>

@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
                                 
    Html.RenderPartial("EditClient", Model);

    <p>
        <input type="submit" value="Save" />
    </p>
 }

@{Html.RenderPartial("EditRequestedItems", Model.RequestedItemsViewModel);}

@{Html.RenderAction("ClientNotes", new { clientId = Model.ClientId, refAction = "BasicInfo" });}