@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Edit Record for <em>@Model.FirstName @Model.LastName</em></h2>

@{Html.RenderPartial("SubNavigation", Model.ClientId);}
<article>
@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
                                 
    Html.RenderPartial("EditClient", Model);

    <input type="submit" value="Save" class="button" />
}
</article>
<aside>
    @{Html.RenderAction("AppointmentQuickView", new { id = Model.ClientId });}
    @{Html.RenderAction("ClientNotes", new { id = Model.ClientId, refAction = "BasicInfo" });}
</aside>