@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = "Add New Client";
}

<h2>Add New Client</h2>

@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
    Html.RenderPartial("EditClient", Model);
 
    <p>
        <input type="submit" value="Save" />
    </p>
}



