@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Edit Client Record for <em>@Model.FirstName @Model.LastName</em></h2>

@{Html.RenderPartial("EditClient", Model);}

@{Html.RenderPartial("ClientNotes", Model.ClientNotesViewModel);}