@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = "Edit Client";
}

<h2>Edit Client Record for @Model.FirstName @Model.LastName</h2>

@{Html.RenderPartial("EditClient", Model);}
