@model AWC.WebUI.Models.ClientEditViewModel

@{
    ViewBag.Title = Model.FirstName + " " + Model.LastName;
}

<h2>Edit Client Record for @Model.FirstName @Model.LastName</h2>

@using (Html.BeginForm())
{
    Html.ValidationSummary(true);
                                 
    Html.RenderPartial("EditClient", Model);

    <p>
        <input type="submit" value="Save" />
    </p>
 }

@{Html.RenderPartial("EditRequestedItems", Model.RequestedItemsViewModel);}

@{Html.RenderPartial("ClientNotes", Model.ClientNotesViewModel);}