@model AWC.Domain.Entities.RequestedItem
           
@{
    Layout = null;
}


<tr>
    @using (Html.BeginCollectionItem("requestedItems")){
        <td>@Html.EditorFor(model => model.ItemName)</td>
        <td>@Html.EditorFor(model => model.QuantityRequested)</td>
        <td>@Html.EditorFor(model => model.QuantityReceived)</td>
        <td>@Html.EditorFor(model => model.ReasonForNonReceipt)</td>
    }
    <td><a href="#" class="deleteRow">Remove</a></td>
</tr>
