@model AWC.Domain.Entities.RequestedItem
           
@{
    Layout = null;
}

@if (Model.QuantityReceived == 0)
{
    <tr>
        @using (Html.BeginCollectionItem("requestedItems"))
        {
            <td class="quantity">@Html.EditorFor(model => model.QuantityRequested)</td>
            <td class="item_name">@Html.EditorFor(model => model.ItemName)</td>
        }
        <td class="action"><a href="#" class="deleteRow" title="Remove">Remove</a></td>
    </tr>
}
else
{
    <tr>
        <td class="quantity">@Model.QuantityRequested</td>
        <td class="item_name">@Model.ItemName</td>
        <td class="action"><em class="check" title="Received">Received</em></td>
    </tr>
}

