@using AWC.Domain.Entities
@model AWC.WebUI.Models.RequestedItemsViewModel

@{
    ViewBag.Title = string.Format("{0} {1}", Model.FirstName, Model.LastName);
}

<h2>Edit Record for <em>@Model.FirstName @Model.LastName</em></h2>

@{Html.RenderPartial("SubNavigation", Model.ClientId);}

<article>
    <div class="items-form">
@using (Html.BeginForm())
{
    <input type="hidden" name="clientId" value="@Model.ClientId" />
    <input type="hidden" name="appointmentId" value="@Model.AppointmentId" />
    
    Html.ValidationSummary(true);
                                 
    <div class="block">
        <h3>Requested Items</h3>
        <table id="requesteditems" class="items">
            <thead>
                <tr>
                    <th>Quantity</th>
                    <th colspan="2">Item Name</th>
                </tr>
            </thead>
            <tbody>
            @if (Model.RequestedItems != null && Model.RequestedItems.Count > 0)
            {
                foreach (var item in Model.RequestedItems)
                {
                    Html.RenderPartial("EditRequestedItem", item);
                }
            }
            @{ Html.RenderPartial("EditRequestedItem", new RequestedItem {QuantityRequested = 1}); }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"><a href="#" id="add_item">Add New Item</a></td>
                </tr>
            </tfoot>
        </table>
    </div>

    <input type="submit" value="Save" class="button" />
}
    </div>
    <div class="block static items-received">
        <h3>Previously Received Items</h3>
        <table class="items">
            <thead>
                <tr>
                    <th colspan="2"><h4>April 15, 2012 - 4:30PM</h4></th>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <th>Item Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="quantity"><strong>3</strong> out of 5</td>
                    <td class="item_name">Beds</td>
                </tr>
                <tr>
                    <td class="quantity"><strong>1</strong> out of 1</td>
                    <td class="item_name">Desk</td>
                </tr>
                <tr>
                    <td class="quantity"><strong>1</strong> out of 1</td>
                    <td class="item_name">Coffee Maker</td>
                </tr>
            </tbody>
        </table>
        <table class="items">
            <thead>
                <tr>
                    <th colspan="2"><h4>March 24, 2012 - 8:00AM</h4></th>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <th>Item Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="quantity"><strong>2</strong> out of 5</td>
                    <td class="item_name">Beds</td>
                </tr>
                <tr>
                    <td class="quantity"><strong>1</strong> out of 1</td>
                    <td class="item_name">Kitchen Table</td>
                </tr>
                <tr class="incomplete">
                    <td class="quantity"><strong>4</strong> out of 6</td>
                    <td class="item_name">Kitchen Chairs</td>
                </tr>
            </tbody>
        </table>
    </div>
</article>
<aside>
    @{Html.RenderAction("AppointmentQuickView", new { id = Model.ClientId });}
    @{Html.RenderAction("ClientNotes", new { id = Model.ClientId, refAction = "BasicInfo" });}
</aside>

<script type="text/javascript">
    // Load all unique item types to make the autocomplete faster
    window.distinctItems = @{Html.RenderAction("DistinctItems", "Search");}
</script>