@model int

<nav class="menu">
    <ul>
        @Html.ActionMenuItem("Basic Info", "BasicInfo", "Clients", false, new { id = Model })
        @Html.ActionMenuItem("Demographic Info", "DemographicInfo", "Clients", false, new { id = Model })
        @Html.ActionMenuItem("Requested Items", "Items", "Clients", false, new { id = Model })
    </ul>
</nav>