@model bool

@{
    var options = ViewData.ModelMetadata.AdditionalValues["optionValues"];
}

@foreach (var option in ((IDictionary<object, string>)options).OrderByDescending(b => b.Key))
{
    <label>
        @Html.RadioButton("", option.Key, option.Key.Equals(Model))
        @option.Value
    </label>
}