<nav class="menu">
    <ul>
        @Html.ActionMenuItem("County Distribution Report", "CountyDistribution", "Reports")
        @Html.ActionMenuItem("Dashboard Report", "Dashboard", "Reports")
    </ul>
</nav>